@keyframes floating {
  0% {
    transform: rotate(45deg) translate(0, 0);
  }
  50% {
    transform: rotate(45deg) translateX(10px);
  }
  100% {
    transform: rotate(45deg) translate(0, 0);
  }
}

:root {
  --primary-100: #24212af6;
  --primary-500: #24212a;
  --primary-800: #1b181f;
  --secondary: #e6c779;
  --tertiary: #d8a932;

  --white: #ffffff;
  --black: #000;
}

body,
html {
  margin: 0;
  padding: 0%;
  height: 100vh;
  width: 100%;

  overflow-y: hidden;

  background-color: var(--primary-800) !important;
}

.App {
  height: 100vh;
  width: 100%;

  .interface {
    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 1fr;

    grid-template-areas:
      "header"
      "content";
  }
}

.infoText {
  p {
    color: var(--secondary) !important;
  }
}

.info {
  color: var(--secondary) !important;
  position: absolute;
  bottom: 15vh;
  right: 7.5vw;

  i {
    font-size: 1.5rem;
    animation: floating 2s infinite;
  }
}

.ant-picker-dropdown {
  .ant-picker-header {
    background-color: var(--primary-800) !important;
    color: var(--secondary) !important;

    button {
      color: var(--secondary) !important;
    }
  }

  .ant-picker-body {
    background-color: var(--primary-800) !important;

    table {
      border: none;

      th,
      td {
        background-color: var(--primary-500);
        color: var(--secondary) !important;
      }

      .ant-picker-cell-disabled {
        color: var(--primary-800) !important;
      }

      .ant-picker-cell-in-range,
      .ant-picker-cell-range-start,
      .ant-picker-cell-range-end {
        background-color: var(--primary-500) !important;

        &::after,
        &::before {
          background-color: var(--primary-800) !important;
        }

        .ant-picker-cell-inner {
          background-color: var(--black) !important;
          color: var(--secondary) !important;
        }
      }
    }
  }
}
