section {
  height: 100%;
  width: 100%;

  .formSaleArea {
    background-color: transparent;
    border: none;
    box-shadow: none;

    max-height: 40px;

    form {
      min-width: 100%;

      input {
        border: none;
        border-radius: 4px;
        height: 40px;

        background-color: var(--primary-500);
        color: var(--secondary);

        &::placeholder {
          color: var(--secondary);
        }
      }

      .btn {
        border: none;
        border-radius: 4px;
        height: 40px;

        background-color: var(--primary-500);
        color: var(--secondary);

        i {
          font-size: 1rem;
        }

        &:hover {
          color: #dfb64f;

          background-color: var(--primary-500);
        }
      }
    }
  }

  .cardTotalOpened {
    background-color: var(--primary-500);
    height: 76.5vh;
    border-radius: 5px;

    .totalLabel {
      font-size: 0.8rem;
      font-weight: 400;
      color: var(--secondary);
    }

    .value {
      .moneyLabel {
        font-size: 1rem;
        font-weight: 500;
        color: var(--white);
      }

      .totalValue {
        font-size: 1.7rem;
        color: var(--secondary);
        margin: 0;
        padding: 0;
      }

      #showOrHidden {
        i {
          font-size: 1rem;
          color: var(--white);

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .btnFinish {
      height: 40px;
      font-size: 0.9rem;
      color: var(--white);

      background-color: var(--primary-500);
      border: 1px solid var(--secondary);
      border-radius: 30px;

      &:hover {
        background-color: var(--primary-800);
        border: 2px solid var(--secondary);
      }
    }

    .pagination {
      color: var(--secondary);

      .perPage {
        span {
          font-size: 0.8rem;
        }

        select {
          background-color: var(--primary-500);
          border: 1px solid var(--secondary);
          border-radius: 4px;
          color: var(--secondary);
        }
      }

      .prevNext {
        color: var(--secondary) !important;

        a {
          font-size: 0.9rem;
          color: var(--secondary) !important;
          text-decoration: none;

          &:hover {
            scale: 1.01;
          }
        }

        .nextNPrevious {
          &:hover {
            cursor: pointer;
            scale: 1.1;
          }
        }
      }
    }
  }

  .mainDivOpened {
    height: 76.5vh;
    overflow-y: scroll;
    overflow-x: hidden;

    color: var(--secondary);

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 15px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary-500);
      border: none;
      border-radius: 20px;
    }

    .closeAllAction {
      height: 120px;
      background-color: var(--primary-500);
      border-radius: 5px;

      i {
        color: rgb(1, 255, 1) !important;
        font-size: 2.4rem;
      }

      p {
        font-size: 0.9rem;
        color: var(--secondary);
        margin: 0;
      }
    }
  }
}
