.products {
  background-color: var(--primary-500);
  height: 120px;
  border-radius: 5px;

  .cardHeader {
    .itemsLabel {
      font-size: 0.8rem;
      font-weight: 400;
    }
  }

  .productsList {
    height: auto;
    min-height: 50%;
    max-height: 68%;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 15px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--white);
      border: none;
      border-radius: 20px;
    }

    .productArea {
      height: 18px;

      .productName {
        font-size: 0.8rem;

        white-space: nowrap !important;
        text-overflow: ellipsis !important;
      }

      .soldQuantity {
        font-weight: 700;
        font-size: 0.9rem;

        .unity {
          font-weight: 400;
          font-size: 0.8rem;
        }
      }
    }
  }
}
