table {
  height: 20%;
  max-height: 80%;

  background-color: var(--primary-800);
  color: var(--white);

  border: solid 1px var(--secondary);

  thead {
    height: 60px;
  }

  tbody {
    background-color: var(--primary-800);

    tr {
      height: 45px !important;

      td {
        padding: 5px 0;

        button {
          i {
            font-size: 1.3rem;
          }

          .edit,
          .restore {
            color: green;
          }

          .delete {
            color: red;
          }

          &:active {
            border: none;
          }
        }
      }

      &:hover {
        background-color: var(--primary-500);
      }
    }
  }

  tfoot {
    background-color: var(--primary-800);

    tr {
      height: 60px;
      width: 100% !important;

      td {
        border: none;
        column-span: 1000;

        span {
          font-size: 0.8rem;
          color: var(--secondary) !important;
        }

        select {
          height: 30px;
          max-height: 30px;
          background-color: var(--primary-500);
          border: 1px solid var(--secondary);
          border-radius: 4px;
          color: var(--secondary);
        }
      }

      color: var(--secondary);
      border: none;

      nav {
        color: var(--secondary) !important;

        height: 100%;

        .pagination {
          margin: 0;
          background-color: var(--primary-500);

          li {
            span {
              background-color: var(--primary-500);
              color: var(--secondary);
              border: 1px solid var(--secondary);

              &:hover {
                cursor: pointer;
                background-color: var(--primary-800) !important;
                border: 1px solid var(--secondary);
                color: var(--secondary);
              }

              &.active {
                background-color: var(--primary-800) !important;
                border: 1px solid var(--secondary);
                color: var(--secondary);
              }
            }

            &.disabled {
              span {
                background-color: var(--primary-500) !important;
                border: 1px solid var(--secondary);
                color: var(--primary-800) !important;
              }
            }
          }
        }
      }
    }
  }
}
