section {
  height: 100%;
  width: 100%;

  .cardTotal {
    background-color: var(--primary-500);
    height: 80vh;
    border-radius: 5px;

    .totalLabel {
      font-size: 0.8rem;
      font-weight: 400;
      color: var(--secondary);
    }

    .value {
      .moneyLabel {
        font-size: 1rem;
        font-weight: 500;
        color: var(--white);
      }

      .totalValue {
        font-size: 1.7rem;
        color: var(--secondary);
        margin: 0;
        padding: 0;
      }

      #showOrHidden {
        i {
          font-size: 1rem;
          color: var(--white);

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .filter {
      span {
        color: var(--secondary);
      }

      .formFilter {
        form {
          height: 100%;
          width: 100%;

          .ant-picker {
            background-color: var(--primary-500);
            border: 1px solid var(--secondary);
            border-radius: 4px;
          }

          .ant-picker-clear {
            background-color: var(--primary-500) !important;
          }

          input {
            background-color: var(--primary-500);
            color: var(--secondary);
            font-size: 0.7rem;

            &::placeholder {
              color: var(--secondary);
            }
          }

          .btn {
            background-color: var(--primary-500);
            border: solid 2px var(--secondary);
            color: var(--white);

            width: 100px;
            border-radius: 20px;

            i {
              font-size: 1rem;
            }

            &:hover {
              box-shadow: 0.5px 0.5px 3px var(--secondary);
            }
          }
        }
      }
    }

    .pagination {
      color: var(--secondary);

      .perPage {
        span {
          font-size: 0.8rem;
        }

        select {
          background-color: var(--primary-500);
          border: 1px solid var(--secondary);
          border-radius: 4px;
          color: var(--secondary);
        }
      }

      .prevNext {
        color: var(--secondary) !important;

        a {
          font-size: 0.9rem;
          color: var(--secondary) !important;
          text-decoration: none;

          &:hover {
            scale: 1.01;
          }
        }

        .nextNPrevious {
          &:hover {
            cursor: pointer;
            scale: 1.1;
          }
        }
      }
    }
  }

  .mainDiv {
    height: 80vh;
    overflow: auto;

    color: var(--secondary);

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 15px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary-500);
      border: none;
      border-radius: 20px;
    }
  }
}
